.carouselItem{
  background-image: linear-gradient(#fff, #fbfbfb);
  height: 500px;
  display: grid;
  grid-template-columns: 2fr 1fr;
  .image{
    img{
      height: 400px;
      display: block;
      margin-left: auto;
      margin-right: auto;
      padding-top: 20px;
    }
  }
  .description{
    font-style: italic;
  }
}

@media screen and (max-width: 786px) {
  .carouselItem{
    .description{
      display: none;
    }
    grid-template-columns: 1fr;
  } 
}